# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
.DS_Store
dist
build
node_modules
node_modules_stable
nodeServer/tmp/
nodeServer/uploads/
uploads/
out
gen
.history
./history
